Repository fedora-infra/bodhi, pull requests merged in 2018-08, with the labels that each got.

#2535 Set a git user and e-mail for the CI rebase.
  devel/ci/githubprb-project.yml
Labels: Crash, Critical, Tests

#2426 Measure branch coverage.
  .coveragerc
Labels: Tests

#2505 Revert "Install python2-backports-functools_lru_cache in Rawhide CI."
  devel/ci/rawhide-packages
Labels: Tests

#2516 Update the docs for style checks.
  docs/developer/index.rst
Labels: Docs

#2455 Use warning() instead of warn() for logging.
  bodhi/server/consumers/masher.py
  bodhi/server/consumers/updates.py
  bodhi/server/mail.py
  bodhi/server/metadata.py
  bodhi/server/models.py
  bodhi/server/notifications.py
  bodhi/server/security.py
  bodhi/server/services/stacks.py
  bodhi/server/services/updates.py
  bodhi/server/validators.py
  bodhi/tests/server/consumers/test_masher.py
  bodhi/tests/server/consumers/test_updates.py
  bodhi/tests/server/test_mail.py
  bodhi/tests/server/test_metadata.py
  bodhi/tests/server/test_models.py
  bodhi/tests/server/test_notifications.py
Labels: Low Priority, Refactor

#2534 Fix a unit test that fails when BODHI_URL is set in the env vars.
  bodhi/tests/client/test___init__.py
Labels: Client, Crash, Critical, Tests

#2542 Install the email templates in the server install.
  SERVER_MANIFEST.in
Labels: 3.9-backports, Composer, Crash, Critical

#2373 Make the repo sanity checks much more strict
  bodhi/server/metadata.py
  bodhi/server/util.py
  bodhi/tests/server/test_metadata.py
  bodhi/tests/server/test_util.py
  devel/ci/Dockerfile-header
  devel/ci/f27-packages
  devel/ci/pip-packages
  devel/ci/rawhide-packages
  devel/ci/rpm-packages
  docs/user/release_notes.rst
Labels: Composer, reliability

#2540 Run CI tests against Fedora 29.
  devel/ci/f29-packages
  devel/run_tests.sh
Labels: Tests

#2558 Define the PYTHONPATH when building the docs.
  docs/Makefile
Labels: 3.10-backports, Crash, Critical, Docs

#2556 Prepare for the 3.10.0 release.
  .mergify.yml
  docs/conf.py
  docs/user/release_notes.rst
  setup.py
Labels: 3.10-backports, Docs, High priority

#2548 Correct a typo in the release notes.
  docs/user/release_notes.rst
Labels: Docs, Low Priority

#2549 Move util.mkmetadatadir() to bodhi.tests.server.base.
  bodhi/server/util.py
  bodhi/tests/server/base.py
  bodhi/tests/server/consumers/test_masher.py
  bodhi/tests/server/test_metadata.py
  bodhi/tests/server/test_util.py
Labels: Low Priority, Refactor, Tests
