Repository fedora-infra/bodhi, pull requests merged in 2018-03, with the labels that each got.

#1954 Instead of predicting the output dir, let Pungi tell us
  bodhi/server/consumers/masher.py
  bodhi/tests/server/consumers/test_masher.py
  docs/user/release_notes.rst
Labels: Composer, reliability

#2184 Put the shelve in a cache_dir
  bodhi/server/config.py
  bodhi/server/metadata.py
  bodhi/tests/server/test_metadata.py
  production.ini
Labels: Composer, Performance

#1990 Use a semaphore for max_concurrent_mashes
  bodhi/server/consumers/masher.py
  bodhi/tests/server/consumers/test_masher.py
Labels: Composer

#2199 Allow version-specific repomd url override
  bodhi/server/consumers/masher.py
  bodhi/tests/server/consumers/test_masher.py
  production.ini
Labels: Composer, Crash, Critical

#2196 bodhi-push no longer authenticates to Koji.
  bodhi/server/buildsys.py
  bodhi/server/push.py
  bodhi/tests/server/test_buildsys.py
  bodhi/tests/server/test_push.py
Labels: Composer, Crash, Critical, Hotfixed, Server CLI, reliability

#2186 Bring bodhi.server.__init__ to 100% line test coverage.
  bodhi/tests/server/base.py
  bodhi/tests/server/test___init__.py
  bodhi/tests/server/test_models.py
Labels: Tests

#2185 100% line test coverage for bodhi.server.consumers.updates.
  bodhi/tests/server/consumers/test_updates.py
Labels: Tests, bugzilla

#2178 Enable Bodhi to identify containers in Koji.
  bodhi/server/buildsys.py
  bodhi/server/models.py
  bodhi/tests/server/services/test_updates.py
Labels: High priority, RFE

#2179 Prepare the 3.5.0 release.
  docs/conf.py
  docs/user/release_notes.rst
  setup.py
Labels: Docs, High priority

#2167 Use ':' as separator for name:stream:version in pungi variants.xml when mashing modules.
  bodhi/server/consumers/masher.py
  bodhi/tests/server/consumers/pungi.basepath/variants.module.xml.j2
  bodhi/tests/server/consumers/test_masher.py
Labels: Composer, Critical

#2173 Rename the Compose resource to Composes.
  bodhi/server/services/composes.py
  bodhi/server/templates/composes.html
  bodhi/server/templates/master.html
  bodhi/tests/server/services/test_composes.py
Labels: API, Composer, Refactor

#2192 bodhi.server.scripts.approve_testing has 100% line test coverage.
  bodhi/tests/server/scripts/test_approve_testing.py
Labels: Server CLI, Tests

#2193 Tests bodhi.server.validators
  bodhi/server/validators.py
  bodhi/tests/server/test_validators.py
Labels: API, Crash, Tests, WebUI, reliability

#2213 Correct the return type of BodhiBase.__json__().
  bodhi/server/models.py
Labels: Docs

#2212 Remove docs that infer_content_class raises NotImplementedError.
  bodhi/server/models.py
Labels: Docs

#2203 Document that Jan Kaluza contributed to the 3.5.0 release.
  docs/user/release_notes.rst
Labels: Docs

#2198 Add documentation for buildroot overrides.
  docs/index.rst
  docs/user/buildroot_overrides.rst
Labels: Buildroot Override, Docs, RFE

#2205 Add a test to ensure we can close bugs with fixedin field at 254.
  bodhi/tests/server/test_bugs.py
Labels: RFE, Tests, bugzilla

#2166 Add an API for retrieving information about Composes.
  bodhi/server/consumers/masher.py
  bodhi/server/models.py
  bodhi/server/push.py
  bodhi/server/services/composes.py
  bodhi/tests/server/services/test_composes.py
  bodhi/tests/server/test_models.py
  bodhi/tests/server/test_push.py
  docs/server_api/composes.rst
  docs/server_api/index.rst
Labels: API, Composer, High priority, RFE

#2209 Add support for severity to the Bodhi CLI.
  bodhi/client/__init__.py
  bodhi/client/bindings.py
  bodhi/tests/client/__init__.py
  bodhi/tests/client/test___init__.py
  bodhi/tests/client/test_bindings.py
Labels: Client, High priority

#2217 Drop the uniqueness constraint on releases.branch.
  bodhi/server/migrations/versions/adee0d22d09f_drop_the_uniqueness_constraint_on_.py
  bodhi/server/models.py
Labels: High priority, Migration, RFE

#2218 Clean up some dev artifacts before running CI tests.
  devel/run_tests.sh
Labels: Tests

#2219 Don't buffer the devel/run_tests.sh output for one release.
  devel/run_tests.sh
Labels: RFE, Tests

#2221 Add a -a flag to the ci test runner, which will archive results.
  devel/ci/run_tests.sh
  devel/run_tests.sh
Labels: Tests

#2195 Require 97% test coverage.
  .coveragerc
Labels: RFE, Tests

#2220 Rename the test container image to bodhi-dev.
  devel/run_tests.sh
Labels: RFE, Tests

#2215 Add support for composing containers.
  bodhi/server/config.py
  bodhi/server/consumers/masher.py
  bodhi/tests/server/consumers/test_masher.py
  devel/ansible/roles/dev/tasks/main.yml
  devel/development.ini.example
  docs/user/release_notes.rst
  production.ini
Labels: Composer, High priority, RFE

#2225 Add a Fedora 28 CI test container.
  devel/ci/f28-packages
  devel/run_tests.sh
Labels: Tests

#2226 Use correct N, V, R splitting for module builds and add stream support
  bodhi/server/buildsys.py
  bodhi/server/consumers/masher.py
  bodhi/server/models.py
  bodhi/server/services/updates.py
  bodhi/server/util.py
  bodhi/server/validators.py
  bodhi/tests/server/services/test_updates.py
  bodhi/tests/server/test_util.py
Labels: Critical, Refactor

#2231 Prepare the 3.5.1 release.
  docs/conf.py
  docs/user/release_notes.rst
  setup.py
Labels: Critical, Docs

#2234 [BACKPORT] Fixed Release.version_int for modular releases
  bodhi/server/models.py
  bodhi/tests/server/test_models.py
Labels: Crash, Critical, Tests

#2233 [BACKPORT] Use correct N, V, R splitting for module builds and add stream support
  bodhi/server/buildsys.py
  bodhi/server/models.py
  bodhi/server/services/updates.py
  bodhi/server/util.py
  bodhi/server/validators.py
  bodhi/tests/server/services/test_updates.py
  bodhi/tests/server/test_util.py
Labels: Critical, Tests

#2235 [BACKPORT] Prepare the 3.5.1 release.
  docs/conf.py
  docs/user/release_notes.rst
  setup.py
Labels: Critical, Docs

#2237 Catch the case where a non-existing update is submitted
  bodhi/server/validators.py
  bodhi/tests/server/services/test_updates.py
Labels: API, Crash, Critical, reliability

#2238 Catch the case where a non-existing update is submitted
  bodhi/server/validators.py
  bodhi/tests/server/services/test_updates.py
Labels: Crash, Critical, Tests

#2229 Add 100% test coverage for bodhi.server.config.
  bodhi/tests/server/test_config.py
Labels: Tests

#2230 Bring bodhi.server.bugs to 100% coverage.
  bodhi/tests/server/test_bugs.py
Labels: Tests, bugzilla

#2243 Fix loop variable leaking in sorted_updates
  bodhi/server/util.py
  bodhi/tests/server/test_util.py
Labels: Composer, Crash, Critical, Hotfixed, reliability

#1830 Optionally wait for repo signatures before promoting
  bodhi/server/config.py
  bodhi/server/consumers/masher.py
  bodhi/server/migrations/versions/c21dd18b161a_add_a_new_signing_repo_composestate_enum.py
  bodhi/server/models.py
  bodhi/tests/server/consumers/test_masher.py
  production.ini
Labels: Composer

#2245 Require 98% test coverage.
  .coveragerc
Labels: Tests

#2246 [BACKPORT] Fix loop variable leaking in sorted_updates
  bodhi/server/util.py
  bodhi/tests/server/test_util.py
Labels: Tests

#2247 Prepare the 3.5.2 release.
  docs/conf.py
  docs/user/release_notes.rst
  setup.py
Labels: Critical, Docs

#2170 Add read support for the /composes/ API to the CLI and bindings.
  bodhi/client/__init__.py
  bodhi/client/bindings.py
  bodhi/server/scripts/monitor_composes.py
  bodhi/tests/client/__init__.py
  bodhi/tests/client/test___init__.py
  bodhi/tests/client/test_bindings.py
  bodhi/tests/server/scripts/test_monitor_composes.py
  docs/user/release_notes.rst
Labels: Client, Composer, High priority, Refactor

#2249 Prepare the 3.6.0 release.
  docs/conf.py
  docs/user/release_notes.rst
  setup.py
Labels: Docs, High priority, RFE
