Repository fedora-infra/bodhi, pull requests merged in 2018-02, with the labels that each got.

#2135 PEP-257 bodhi.
  bodhi/__init__.py
  bodhi/tests/__init__.py
  bodhi/tests/server/__init__.py
  bodhi/tests/server/base.py
  bodhi/tests/server/consumers/__init__.py
  bodhi/tests/server/functional/__init__.py
  bodhi/tests/server/scripts/__init__.py
  bodhi/tests/server/services/__init__.py
  bodhi/tests/server/views/__init__.py
  tox.ini
Labels: Docs

#2137 Insert utcnow for issued_date if not yet pushed
  bodhi/server/metadata.py
  bodhi/tests/server/test_metadata.py
Labels: Critical, Hotfixed, Masher, reliability

#2140 Prepare for the 3.3.0 release.
  docs/conf.py
  docs/user/release_notes.rst
  setup.py
Labels: Docs, High priority

#2143 Add a man page for bodhi-untag-branched.
  docs/conf.py
  docs/user/man_pages/bodhi-untag-branched.rst
  docs/user/man_pages/index.rst
Labels: Docs, Server CLI

#2084 Remove Fedora 25 from CI testing.
  devel/ci/f25-packages
  devel/ci/f26-packages
  devel/ci/f27-packages
  devel/ci/rawhide-packages
  devel/ci/rpm-packages
  devel/run_tests.sh
Labels: Tests

#2144 Run 4 CI build jobs in parallel.
  devel/ci/run_tests.sh
Labels: Tests

#2145 Print directories before deleting them in bodhi-clean-old-mashes.
  bodhi/server/scripts/clean_old_mashes.py
Labels: Low Priority, RFE

#2147 Loosen the restrictions on two test assertions.
  bodhi/tests/server/test_metadata.py
Labels: Tests, reliability

#2146 Make it clearer that some settings don't have defaults.
  production.ini
Labels: Docs

#2159 Prepare the 3.4.0 release.
  docs/conf.py
  docs/user/release_notes.rst
  setup.py
Labels: Docs

#2163 Bring bodhi.server.services.releases to 100% test coverage.
  bodhi/tests/server/services/test_releases.py
Labels: API, Tests

#2161 Tests bodhi.server.scripts.untag branched
  bodhi/server/scripts/untag_branched.py
  bodhi/tests/server/scripts/test_untag_branched.py
Labels: Server CLI, Tests

#2160 Bring bodhi.server.metadata to 100% test coverage.
  bodhi/tests/server/test_metadata.py
Labels: Tests

#2148 Add new WaiverDB settings to production.ini.
  production.ini
Labels: Docs

#2152 Refactor the composer to split pungi code into a new base class.
  bodhi/server/consumers/masher.py
  bodhi/tests/server/consumers/test_masher.py
Labels: Composer, Critical, RFE, Refactor

#2164 Require 96% test coverage.
  .coveragerc
Labels: Tests

#2181 Drop some stay code that breaks the update JS.
  bodhi/server/templates/update.html
Labels: Crash, Critical, JS, WebUI
