Repository fedora-infra/bodhi, pull requests merged in 2019-05, with the labels that each got.

#3198 Replace the call to hawkey with a call to DNF in repo sanity check
  bodhi/server/util.py
  bodhi/tests/server/test_util.py
  bootstrap.py
  devel/ci/Dockerfile-f28
  devel/ci/Dockerfile-f29
  devel/ci/Dockerfile-f30
  devel/ci/Dockerfile-pip
  devel/ci/Dockerfile-rawhide
  docs/user/release_notes.rst
Labels: Critical, Tests

#3207 Remove a workaround for an old dnf bug to workaround a new dnf bug.
  devel/ci/Dockerfile-f29
Labels: Crash, Critical, Tests

#3201 Add an index to comments.update_id.
  bodhi/server/migrations/versions/19e28e9851a2_index_comment_update_id.py
  bodhi/server/models.py
Labels: High priority, Migration, RFE, Refactor, Search

#3174 Add a RateLimiter log filter and document it.
  bodhi/server/__init__.py
  bodhi/server/consumers/composer.py
  bodhi/server/consumers/signed.py
  bodhi/server/consumers/updates.py
  bodhi/server/logging.py
  bodhi/server/scripts/expire_overrides.py
  bodhi/server/scripts/initializedb.py
  bodhi/server/scripts/untag_branched.py
  bodhi/tests/server/consumers/test_composer.py
  bodhi/tests/server/consumers/test_signed.py
  bodhi/tests/server/consumers/test_updates.py
  bodhi/tests/server/scripts/test_initializedb.py
  bodhi/tests/server/scripts/test_untag_branched.py
  bodhi/tests/server/test_logging.py
  devel/ci/Dockerfile-f28
  devel/ci/Dockerfile-f29
  docs/administration.rst
  docs/user/release_notes.rst
  requirements.txt
Labels: Critical, Docs, RFE, Refactor

#3165 Revert "Do not check gpg signatures in pip integration."
  devel/ci/integration/bodhi/Dockerfile-pip
Labels: Refactor, Tests

#3190 Switch log call to let the API format a string.
  bodhi/client/bindings.py
  bodhi/tests/client/test_bindings.py
Labels: Client, Low Priority, Refactor

#3191 Convert bodhi.client.bindings to use f-strings.
  bodhi/client/bindings.py
Labels: Client, Low Priority, Refactor

#3197 Vagrant: Use the same number of CPUs as the host.
  Vagrantfile
Labels: Low Priority, RFE

#3211 z instead of Z on the .git folder for diff-cover
  devel/ci/bodhi-ci
Labels: Crash, Critical, Tests

#3221 Prepare for the upcoming 4.0.0 release.
  .mergify.yml
  docs/user/release_notes.rst
Labels: 4.0-backports, Docs, High priority

#3223 Stop producing bodhi-dequeue-stable.
  setup.py
Labels: 4.0-backports, Critical, Server CLI

#3243 Do not send fedora-messages in the unit tests
  bodhi/tests/server/consumers/test_composer.py
  bodhi/tests/server/services/test_updates.py
  bodhi/tests/server/test_models.py
Labels: Crash, Critical, Tests

#3247 Remove duplicate permission dict for RabbitMQ host.
  devel/ansible/roles/bodhi/tasks/rabbitmq.yml
Labels: Tests

#3256 Add a missing f for a format string
  bodhi/server/push.py
  bodhi/tests/server/test_push.py
Labels: Server CLI

#3250 Doc that bodhi 4 dropped fedmsg_enabled setting
  docs/user/release_notes.rst
Labels: 4.0-backports, Docs, RFE

#3251 Add release notes for 3.14.0
  docs/user/3.x_release_notes.rst
Labels: 4.0-backports, Docs

#3182 Remove some unnecessary casts to str in bindings.
  bodhi/client/bindings.py
Labels: Refactor, python3

#3249 Raise required coverage to 99.29%
  .coveragerc
Labels: RFE, Tests

#3196 Give bodhi-ci diff_cover a -Z flag.
  devel/ci/bodhi-ci
  devel/ci/cico.pipeline
Labels: 4.0-backports, Crash, Critical, Tests

#3179 Eliminate __unicode__() methods.
  bodhi/client/bindings.py
  bodhi/server/models.py
  bodhi/tests/client/test_bindings.py
  bodhi/tests/server/test_models.py
Labels: Refactor, python3

#3252 Link to a definition of backwards compatibility
  docs/developer/releases.rst
Labels: Docs

#3269 Drop grepping for id tags
  bodhi/server/util.py
  bodhi/tests/server/base.py
  bodhi/tests/server/test_util.py
  docs/conf.py
  docs/user/release_notes.rst
  setup.py
Labels: 4.0-backports
